body {
    font-family: sans-serif;
    background-image: url("../img/nahil-naseer-xljtGZ2-P3Y-unsplash.jpg");
    margin: 0px;
    padding: 0px;
    color: darkslategrey;
    background-size: 100%;
    background-attachment: fixed;
}
main{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    text-align: center;  
    align-items: center;
    background-color: whitesmoke;
    padding-bottom: 15px;
}
h1, h2 {color: darkgreen;}

h1 {
    margin-top: 70px;
    padding-top: 30px;
}
 h4{
     text-align: center;
 }
article li {
    color: mediumseagreen;
    text-decoration: none;
    margin-bottom: 30px;
    display: block;
    padding: 11px
}
nav {
    background-color: darkgreen;
    height: 60px;
    text-align: center;
    position: fixed;
    width: 100%;
    margin-bottom: 50px;
    top: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
nav li{
    display: inline;
    text-decoration: none;
}

nav a {
    background-color:olive;
    padding: 10px;
    border: black;
    border-style: groove;
    color: whitesmoke;
    border-radius: 10px;

}

article h1{
    font-size: xx-large;

}

img{
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px; 
    margin-bottom: 30px;
}

footer {
background-color: darkgreen;
height: 40px;
color: white;
text-align: center;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}
p{
    margin-bottom: 30px;
}

article ul{
    list-style-type: none;
    margin: auto;
    padding: 50px;
    overflow: hidden;
    margin-left: 120px;

}

article li{
    float: left;

}
